.first,.second,.third,.fourth{
    border: 2px solid #000;
    margin: 2px;
    width: 300px;
}
.first{
    text-align: center;
     display: flex;
}
img{
    width: 120px;
    padding: 10px;
    image-rendering: 20px;
}
.hari{
    display: flex;
 }
 
 .parent{
    display: float;
    flex-wrap:wrap;
}
.fourth,.fifth,.sixth,.seventh{
    border: 2px solid #ddd;
    margin: 2px;
    width: 800px;
}
table{
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
}
   